@model IEnumerable<ROYALHOTEL.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paymentmethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardholdername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditcardnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expirydate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paymentdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paymentmethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cardholdername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditcardnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expirydate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paymentdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Reservationid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Paymentid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Paymentid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Paymentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
