@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "Hotel";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}




<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Hotels</h2>
            <ol class="breadcrumb">
                <li><a asp-controller="User" asp-action="Index">Home</a></li>
                <li class="active">Hotels</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container" id="d1">
        <div class="section_title text-center">
            <h2 class="title_color">Special Hotels</h2>
            <div class="col-lg-12 text-center">
                <form asp-controller="Home" asp-action="Hotel" method="get" class="form-inline justify-content-center">
                    <input type="text" name="searchQuery" class="form-control mr-2" placeholder="Search by hotel name or location" />
                    <button type="submit" class="btn theme_btn button_hover">Search</button>
                </form>
            </div>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>



        <!-- Hotel List -->
        <div class="row mb_30">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src=@Url.Content("~/Images/"+item.Imagepath) asp-append-version="true" width="200" height="200">
                            <a asp-controller="User" asp-action="GetHotelByRoomId" asp-route-id="@item.Hotelid" class="btn theme_btn button_hover">Show Details</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">@item.Hotelname</h4></a>
                        <h5>@item.Location</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
<!--================Booking Tabel Area =================-->

<!--================Booking Tabel Area  =================-->
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container" id="d1">
        <div class="section_title text-center">
            <h2 class="title_color">Special Hotels</h2>
            <div class="col-lg-12 text-center">
                <form asp-controller="Home" asp-action="Hotel" method="get" class="form-inline justify-content-center">
                    <input type="text" name="searchQuery" class="form-control mr-2" placeholder="Search by hotel name or location" />
                    <button type="submit" class="btn theme_btn button_hover">Search</button>
                </form>
            </div>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>



        <!-- Hotel List -->
        <div class="row mb_30">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src=@Url.Content("~/Images/"+item.Imagepath) asp-append-version="true" width="200" height="200">
                            <a asp-controller="Home" asp-action="GetHotelByRoomId" asp-route-id="@item.Hotelid" class="btn theme_btn button_hover">Show Details</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">@item.Hotelname</h4></a>
                        <h5>@item.Location</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
