@model ROYALHOTEL.Models.Reservation

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}
<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservationdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservationdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkindate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkindate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkoutdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkoutdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Roomtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Userfname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Reservationid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
