@model ROYALHOTEL.Models.Footer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Footer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.About)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Links)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Links)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Newsletter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Newsletter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd class = "col-sm-10">
            
                <img src=@Url.Content("~/Images/" + Model.Imagepath) asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Footerid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
